.article{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 0.8889rem;

    &__image{
        margin: 0;
    }

    &__title{
        margin: 0;
    }

    &__text{
        margin: 0;
        color: var(--bg-light-secondary-color);
    }
}