.card {
    display: flex;
    flex-direction: column;
    padding: 1.2778rem;
    border: 1px solid var(--border-color);

    &__header {
        margin-bottom: 0.5806rem;
    }

    &__text {
        margin-bottom: 0.8889rem;
    }

    &__footer {
        justify-self: flex-end;
    }
}
