.hero {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(min(100%,200px), 1fr));
    padding-bottom: 7.8889rem;
    padding-top: 4.1667rem;

    &__rating {
        display: flex;
        align-items: center;
        gap: 0.8889rem;
    }

    &__reviews {
        margin: 0.4444rem 0;
    }

    &__image {
        width: 100%;
        max-width: 28.9444rem;
        height: auto;

        justify-self: flex-end;

        @media screen and (max-width: 470px) {
            grid-row: 1/2;
        }
    }

    &__title {
        margin: 0.4444rem 0;

        @media screen and (max-width: 470px) {
            font-size: 36px;
        }
    }

    &__text {
        margin: 0;
        color: var(--param-light-secondary-color);
    }

    &__buttons {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: wrap;
        margin-bottom: 1.3333rem;
        margin-top: 0.8889rem;

        .button {
            min-width: 178px;
            flex-grow: 1;
        }
    }

    &__list {
        margin-top: 0.4444rem;
    }
}
