.navbar {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;

    &__toggle {
        display: flex;
        align-items: center;
        padding: 0.2778em;
        grid-column: 3/4;
        justify-self: flex-end;

        background: transparent;
        border: 0;
        border-radius: 50%;
        padding: 0.75em;

        cursor: pointer;
    }

    &__toggle:active {
        background: var(--border-color);
    }

    &__overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background: rgba(0, 0, 0, 0.5);
        backdrop-filter: blur(2px);
        visibility: hidden;
        opacity: 0;
        transform: opacity 0.3s;
    }

    &__nav {
        justify-self: center;
    }

    &__buttons {
        justify-self: flex-end;
        *:not(:first-child) {
            margin-left: 0.8889rem;
        }
    }
}

.sidebar.opened ~ .navbar__overlay {
    visibility: visible;
    opacity: 1;
}
