.features{
    margin-top: 3.4444rem;

    &__gallery{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(min(100%,11.3889rem), 1fr));
        gap: 2.2222rem;
    }

    &__title{
        color: var(--primary-color);
        margin-bottom: 0.4444rem;
        margin-top: 0;
    }

    &__subtitle{
        margin-top: 0.4444rem;
        max-width: 37ch;
    }
}