.footer{
    background: var(--bg-secondary-color);
    margin-top: 3.2222rem;
    padding-top: 3.6667rem;
    padding-bottom: 3.6667rem;


    &__section{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        gap: 2.2222rem;
    }
}