.footer {
    background: var(--bg-secondary-color);
    margin-top: 3.2222rem;
    padding-top: 3.6667rem;
    padding-bottom: 3.6667rem;

    &__grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(min(100%,7.0556rem), 1fr));
        gap: 2.2222rem;
    }

    &__article {
        grid-column: 1/3;
    }
}
