.footer{
    background: var(--bg-secondary-color);
    margin-top: 3.2222rem;
    padding-top: 3.6667rem;
    padding-bottom: 3.6667rem;


    &__section{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(7.0556rem, 1fr));
        gap: 2.2222rem;
    }

    &__article, &__links{
        align-self: flex-start;

        > .article__text{
            max-width: 29ch;
        }
    }

    &__article{
        grid-column: 1/3;
    }
}