
// Fiber Pallete
$_black: #000000;
$_white: #FFFFFF;
$_blue:#4D13D1;
$_grey:#DADADA;
$_darker-grey: #A9A9A9;
$_yellowish-white:#FBF8F3;
$_seagreen:#45B19E;
$_dark-grey:#4F4F4F;
$_soft-lilac:#E5DDFD;
$_cape:#FDE3A7;
$_white2:#FDFDFD;

// UI Colors
$primary-color: $_blue;
$secondary-color: $_seagreen;

$bg-primary-color: $_white;
$bg-secondary-color: $_cape;

$title-light-color: $_black;
$param-light-color: $_white;
$param-dark-strong-color: $_black;
$title-dark-color: $_white;
$param-dark-color: $_soft-lilac;
$button-text-color: $_yellowish-white;
$input-placeholder-color: $_darker-grey;

$border-color: $_grey;
