// Fiber Pallete
$_black: #000000;
$_white: #ffffff;
$_blue: #4d13d1;
$_grey: #dadada;
$_darker-grey: #a9a9a9;
$_yellowish-white: #fbf8f3;
$_seagreen: #45b19e;
$_dark-grey: #4f4f4f;
$_soft-lilac: #e5ddfd;
$_cape: #fde3a7;
$_white2: #fdfdfd;

// UI Colors
$primary-color: $_blue;
$secondary-color: $_seagreen;

$bg-primary-color: $_white;
$bg-secondary-color: $_yellowish-white;

$title-light-color: $_black;
$param-light-color: $_white;
$param-dark-strong-color: $_black;
$param-light-secondary-color: $_darker-grey;
$title-dark-color: $_white;
$param-dark-color: $_soft-lilac;
$button-text-color: $_yellowish-white;
$input-placeholder-color: $_darker-grey;

$border-color: $_grey;

// Theme colors (primary, secondary, info, sucess, warming, alert)
$theme-colors: (
    primary: $primary-color,
    secondary: $secondary-color,
    light: $_grey,
    dark: $_black,
);
