// Font family used
$font-family: "Inter", sans-serif;

// Font base and font sizes in rem
$_font-base: 18;

/*Deprecation Warning: Using / for division is deprecated and will be removed in Dart Sass 2.0.0.
Recommendation: math.div(16, $-font-base) */

$fs-56: 56 / $_font-base + rem;
$fs-36: 36 / $_font-base + rem;
$fs-20: 20 / $_font-base + rem;
$fs-18: 18 / $_font-base + rem;
$fs-16: 16 / $_font-base + rem;
$fs-15: 15 / $_font-base + rem;
$fs-12: 12 / $_font-base + rem;

$font-size: $_font-base + px;
