
// Font family used
$font-family: "Inter", sans-serif;

// Font base and font sizes in rem
$_font-base: 18;

$fs-56: 56 / $_font-size + rem;
$fs-36: 36 / $_font-size + rem;
$fs-20: 20 / $_font-size + rem;
$fs-18: 18 / $_font-size + rem;
$fs-16: 16 / $_font-size + rem;
$fs-15: 15 / $_font-size + rem;

$font-size: $_font-base + px;
