.text-underline {
    text-decoration: underline !important;
}

.text-light-secondary {
    color: var(--param-light-secondary-color) !important;
}

.text-light {
    color: var(--title-dark-color) !important;
}
