.info-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    .article{
        flex-basis: 416px;
        margin-bottom: 47px;
        flex-grow: 1;
    }

    .image-responsive{
        max-width: 458px;
    }
}