@use "../settings/typography";

// font-scale
h1 {
    font-size: typography.$fs-56;
    font-weight: bold;
}

h2 {
    font-size: typography.$fs-36;
    font-weight: bold;
}

h3 {
    font-size: typography.$fs-20;
    font-weight: bold;
}

h4 {
    font-size: typography.$font-size;
    font-weight: bold;
}

h5 {
    font-size: typography.$fs-15;
    font-weight: bold;
}

h6 {
    font-size: typography.$fs-12;
}
