@use "../../settings/colors";


.button {
    padding: 0.8889em 1.5556rem;
    border: 0;
    border-radius: 5px;
    font-size: var(--button-fs);
    font-weight: bold;

    cursor: pointer;

    &--light-primary {
        color: var(--primary-color);
        background-color: #ffffff;

        &:hover {
            background: darken(#ffffff, 10%);
        }
    }

    @each $var, $color in colors.$theme-colors {
        &--invert-#{$var}{
            color: #{$color};
            background-color: var(--param-light-color);
    
            &:hover {
                background: darken(#ffffff, 10%);
            }
        }
    }

    @each $var, $color in colors.$theme-colors {
        &--#{$var}{
            color: var(--param-light-color);
            background-color: #{$color};

            &:hover {
                background: lighten($color, 10%);
            }
        }
    }

    @each $var, $color in colors.$theme-colors {
        &--outline-#{$var} {
            border: 1px solid #{$color};
            color: #{$color};
            background-color: transparent;
    
            &:hover {
                color: var(--param-light-color);
                background: darken(#ffffff, 10%);
            }
        }
    }

    @each $var, $color in colors.$theme-colors {
        &--transparent-#{$var}{
            color: #{$color};
            background-color: transparent;
        }
    }

    &--large{
        min-width: 100%;
    }
}
