// Animate icons
#chronometer:hover #hand{
    transform: rotate(360deg);
    transform-origin: center 56%;
    transition: transform 1s linear;
    transition-delay: 0.5s;
}

#code:hover {
    #right-sign{
        transform: rotateX(180deg);
        transform-origin: center;
        transition: transform 0.25s linear;
        transition-delay: 0.5s;
    }
    
    #left-sign{
        transform: rotateX(180deg);
        transform-origin: center;
        transition: transform 0.25s linear;
        transition-delay: 0.75s;
    }
}

#responsive:hover{

    #phone {
        transform: translateX(50px);
        transition: transform .5s linear;
        transition-delay: 0.5s;
    }

    #tablet{
        transform: translateX(5px);
        transition: transform .5s linear;
        transition-delay: 0.5s;
    }
}


