.list {
    list-style: none;
    margin: 0;
    padding: 0;

    &__item {
        display: flex;
        align-items: center;
        gap: 0.4444rem;
        list-style: none;

        &:not(:last-child) {
            margin-bottom: 0.8889rem;
        }
    }

    &__link{
        text-decoration: none;
        color: initial;

        &:hover, &:visited, &:active{
            text-decoration: none;
            color: inherit;
        }
    }

    &__bullet{
        display: inline-block;
        background: url('../../../img/Checkmark.svg');
        height: 24px;
        width: 24px;

        &--primary{
            background: url('../../../img/Checkmark.svg');
        }
    }

    &--horiz {
        display: inline-flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 0.8889rem;
    }

    &--horiz &__item{
        margin-bottom: 0;
    }
}