.rating{
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    gap: 0.3333rem;

    &__input{
       display: none;
    }

    &__label{
        color: #A9A9A9;
        transition: all 0.2s ease;
    }

    &__input:not(:checked) ~ &__label:hover,
    &__input:not(:checked) ~ &__label:hover ~ &__label{
        color: #FF9529;
    }

    &__input:checked ~ &__label{
        color: #FF9529;
    } 
}